<div class="contact">
  <div class="row">
    <div class="col-sm-8">
      <img class="img-responsive" src="http://ww1.sinaimg.cn/mw690/0064eHLtjw1ew5hpwodk3j30kd0eb42t.jpg">
    </div>
    <div class="col-sm-4">
      <address>
        <p>青岛海隽计算机系统有限公司</p>
        <p>Hidrun Computer Systems Co. Ltd</p>
        <p>地址：山东青岛黄岛区峨眉山路396号光谷软件园27楼, 266555</p>
        <p>Email:
          <a href="mailto:service@hidrun.com">service@hidrun.com</a></p>
        <p>电话：186 1042 0640</p>
      </address>
    </div>
  </div>
</div>
